{% extends 'base.html' %}
{% block content %}
<section class="centered-page">
  <h2>Contáctanos</h2>
  <form method="post" class="form contact-form">
    <label class="contact-bubble">Nombre <input type="text" name="nombre" required></label>
    <label class="contact-bubble">Teléfono <input type="text" name="telefono" required></label>
    <label class="contact-bubble">Mensaje <textarea name="mensaje" required></textarea></label>
    <button type="submit">Enviar</button>
  </form>
</section>
{% endblock %}
